extends layout

block content
  |<section class="short-link-form" style="padding-top: 55px; margin-left:auto; margin-right:auto; text-align:center;">
  |<form accept-charset="UTF-8" action="/short_link/create" class="new_short_link" data-remote="true" id="new_short_link" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="rr6yL5c319CX1DkR+ttlYy3DxnnTPDZj62ZaxEy8oSA=" /></div>
  |  <input id="short_link_full_link" name="short_link[full_link]" size="30" style="height:30px; width: 640px; font-size: 25px;" type="text" /><br />
  |  <p><input name="commit" style="height: 45px; background-color: #9B9B9B; color: #FCFCFC; font-size: 20px; font-weight: bold;" type="submit" value="Shorten" /></p><br />
  |</form></section>

  |<section id="short-link-display" style="padding-top: 45px; margin-left: auto; margin-right: auto; text-align: center; font-size: 48px; font-weight: bold;">
  |</section>
