doctype 5
html
  head
    title= "ObyK URL Shortener - Because Shorter Links are More Fun"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(style="margin-left:auto; margin-right:auto; text-align:center;")
      |<h1 style="font-size: 52px; font-weight: bold; text-decoration: underline;">ObyK Shortener</h1>
      |<div style="margin-top: -35px;">Because shorter links are more fun</div>
    block content
